<div style="background-color: #fff;">
    <table style="width:200">
        <tbody>
            <tr align="center" valign="middle">
                <td>
                    <h2>${location}, ${country}</h2>
                </td>
            </tr>
            <tr align="center" valign="middle">
                <td>
                    <p>
                        <div style="font-size:40px"> ${tempStr}</div>
                    </p>
                </td>
            </tr>
            <tr align="center" valign="middle">
                <td>
                    <img src="${icon}" height="60">
                </td>
            </tr>

        </tbody>
    </table>
</div>